table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}
  
td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

.blue-bg {
    background-color: cornflowerblue;
}
.green-bg {
    background-color: lightgreen;
}